<div style="min-height: 675px; height: 675px">
  <div class="container">
    <br>
    <br>
    <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.15)">
      <h1 style="color: rgba(24, 223, 230, 0.8); text-shadow: 3px 3px #202020;">Glitch</h1>

      <div class="well" style="font-size: 18px; background-color: rgba(0, 0, 0, 0.3); border: none; color: white">A year spent in artificial intelligence is enough to make one believe in God.
      <br><span style="color: rgba(24, 223, 230, 0.8); text-shadow: 1px 1px #202020;">Alan Perlis<span></div>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: rgba(24, 223, 230, 0.8); text-shadow: 1px 1px #202020;">Learn more</a></p>
    </div>
  </div>
</div>
