<div style="min-height: 675px; height: 675px">
  <div class="container">
    <br>
    <br>
    <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.15); min-width: 940px; width: 940px; height: 500px; margin: auto">
      <h1 class="tlt" style="color: rgba(24, 223, 230, 0.8); text-shadow: 3px 3px #202020;">Glitch</h1>
      <div>
        <div class="well" style="font-size: 13px; background-color: rgba(0, 0, 0, 0.3); border: none; color: white; width: 450px;"> > 01101000&nbsp <span style="color: rgba(24, 223, 230, 0.8)">01100101</span>&nbsp 01101100&nbsp <span style="color: rgba(24, 223, 230, 0.8)">01101100</span>&nbsp 01101111&nbsp <br> > <span style="color: rgba(24, 223, 230, 0.8)">00100000</span>&nbsp 01101000&nbsp <span style="color: rgba(24, 223, 230, 0.8)">01110101</span>&nbsp 01101101&nbsp <span style="color: rgba(24, 223, 230, 0.8)">01100001</span>&nbsp 01101110</div>
        <div class="well" style="font-size: 18px; background-color: rgba(0, 0, 0, 0.3); border: none; color: white; width: 450px;">A year spent in artificial intelligence is enough to make one believe in God.
        <br><span style="color: rgba(24, 223, 230, 0.8); text-shadow: 1px 1px #202020;">Alan Perlis</span></div>
        <div style="margin: 10px; text-align: right"><img src="/images/abstract-1.gif" style="width: 250px; border-radius: 150px; box-shadow: 2px 2px 20px black; position: relative; bottom: 260px; right: 50px"/></div>
        <a class="btn btn-primary btn-lg" role="button" style="background-color: rgba(24, 223, 230, 0.8); text-shadow: 1px 1px #202020; position: relative; bottom: 250px" data-toggle="modal" data-target="#learnMoreModal">Learn more</a>
        <a ui-sref="begin" ng-show="main.isAuthed()" class="btn btn-primary btn-lg" role="button" style="background-color: rgba(24, 223, 230, 0.8); text-shadow: 1px 1px #202020; position: relative; bottom: 250px">Begin</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="learnMoreModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0.9); top: 100px">
      <div class="modal-header">
        <h2 class="modal-title" style="color: rgba(24, 223, 230, 0.8); text-shadow: 3px 3px #202020;">About Glitch</h2>
      </div>
      <div class="modal-body">
        <p style="color: white; font-size: 18px">Glitch is part game, part story, and part web application.  Essentially, Glitch is an interactive experience.  You will meet and engage with an AI.  Your decisions matter.  Your choices will have consequences.  <br><br> Are you ready to meet Glitch? Sign up for an account or log in to begin.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: rgba(24, 223, 230, 0.8); color: white; text-shadow: 1px 1px #202020; border: none">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('.tlt').textillate({
      initialDelay: 300,
      loop: true,
      in: {
        effect: 'pulse',
        delay: 10,
        delayScale: 3
      },
      out: {
        effect: 'pulse',
        reverse: true,
        delay: 10,
        delayScale: 3
      }
     });
  })
</script>
