<div style="min-height: 675px; height: 675px">

  <div class="container" style="width: 500px; background-color: rgba(0, 0, 0, 0.15); padding: 20px; margin: 20px; border-radius: 5px">
    <h1 style="color: rgba(24, 223, 230, 0.8); text-shadow: 3px 3px #202020;">Profile</h1>

    <div class="well" style="background-color: rgba(0, 0, 0, 0.3); border: none; color: white">
      <h3>Name: {{main.currentUser.firstname}} {{main.currentUser.lastname}}</h2>
      <h3>Email: {{main.currentUser.email}}</h2>
    </div>
  </div>
</div>
